PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE categories (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    image TEXT NOT NULL,
    description TEXT
);
INSERT INTO categories VALUES(1,'Mountain Biking','/images/mountain_biking.jpg','Explore rugged trails.');
INSERT INTO categories VALUES(2,'Surfing','/images/surfing.jpg','Ride the waves.');
INSERT INTO categories VALUES(3,'Kitesurfing','/images/kitesurfing.jpg','Harness the wind.');
CREATE TABLE users (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  username TEXT UNIQUE NOT NULL,
  email TEXT UNIQUE NOT NULL,
  password TEXT NOT NULL,
  role TEXT NOT NULL DEFAULT 'client'
, full_name TEXT, location TEXT, profile_picture TEXT, activities TEXT);
INSERT INTO users VALUES(6,'admin','admin@adrenalink.com','scrypt:32768:8:1$eRdhkAHp3aL1jBoX$e4e4b5a228dc45ca42e8ebfcec34953be1c53c4d9872fa8d5190512989c76b1e9dd9e01dd92ee7f2aa1232ee0037178cba9c4df963ccd3ba6c2ba74ef8ddcf1b','admin',NULL,NULL,NULL,NULL);
INSERT INTO users VALUES(8,'admin1','admin1@adrenalink.com','scrypt:32768:8:1$MO3TvhiRK8Db9Xda$1ab4821af488b748d259eff749ab498554c78d5633cdcb926072466e7efc10df3254c3cca3cef102ac418b68912dedc955f2de674a2e93f5d6ff1c49520227fe','admin',NULL,NULL,NULL,NULL);
INSERT INTO users VALUES(17,'user','user@example.com','scrypt:32768:8:1$yHSzGpdrYYXdTQ1f$8b77da359715ba2cf800a430d5721a6fed320e02a43d019738a1447405f82652e6e2336b40fad1bdf02d76b68f57b5046686d31108bdacc0ff294804a368a60f','client',NULL,NULL,NULL,NULL);
CREATE TABLE IF NOT EXISTS "places" (
	"id"	INTEGER,
	"name"	TEXT NOT NULL,
	"location"	TEXT,
	"rating"	REAL,
	"image"	TEXT,
	"category_id"	INTEGER,
	"latitude"	INTEGER,
	"longitude"	INTEGER,
	"description"	INTEGER,
	PRIMARY KEY("id" AUTOINCREMENT),
	FOREIGN KEY("category_id") REFERENCES "categories"("id")
);
INSERT INTO places VALUES(0,'Zip World Velocity','Bethesda, Wales',4.799999999999999823,'https://example.com/velocity.jpg',5,53.16850000000000164,-4.057000000000000384,'This is Test Text');
INSERT INTO places VALUES(1,'Coed y Brenin','Snowdonia, Wales',4.700000000000000177,'https://example.com/coedybrenin.jpg',1,52.82180000000000319,-3.905600000000000182,'This is Test Text');
INSERT INTO places VALUES(2,'Glentress Forest','Peebles, Scotland',4.799999999999999823,'https://example.com/glentress.jpg',1,55.65010000000000189,-3.179199999999999804,'This is Test Text');
CREATE TABLE reviews (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    user_id INTEGER NOT NULL,
    place_id INTEGER NOT NULL,
    rating INTEGER NOT NULL,
    text TEXT NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,

    FOREIGN KEY (user_id) REFERENCES users(id),
    FOREIGN KEY (place_id) REFERENCES places(id)
);
INSERT INTO sqlite_sequence VALUES('users',18);
INSERT INTO sqlite_sequence VALUES('categories',7);
INSERT INTO sqlite_sequence VALUES('places',14);
COMMIT;
